#root {
  height: 100vh;
}

.mb-3 {
  margin-bottom: 0rem !important;
}

.main-container {
  height: inherit;
  overflow: hidden;
}

.menu-col {
  height: 100vh;
  border-right: 1px solid lightgrey;
  padding: 0px;
}

.menu-title {
  border-bottom: 1px solid lightgrey;
}

.overview-col {
  height: 100vh;
}

.overview {
  overflow: hidden;
  height: 58.8rem;
  margin-top: 0.8rem;
}

.overview-scroll {
  overflow-y: scroll;
}

.overview-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.overview-search > input {
  width: 100%;
  margin-bottom: 10px;
}

.overview-card {
  margin: 10px;
}

.overview-card:hover {
  cursor: pointer;
}

.overview-card-body {
  display: flex;
  flex-direction: row;
}

.overview-card-img {
  width: 20%;
}

.overview-card-text {
  width: 80%;
  text-align: center;
  margin-bottom: 0px;
}

.feature-element {
  width: 600px;
}

.usertab {
  margin-top: 0.8rem;
}

.usertab-element {
  height: 56.2rem;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  gap: 1em;
}
.test-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/3;
  gap: 1em;
}

/* .submit {
  grid-column: 2/3;
} */

.notes {
  grid-column: 1/4;
}

.usertab-element-nutrition {
  padding-top: 15px;
}

.usertab-img-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.usertab-profile-img {
  width: 100%;
}

.usertab-profile-logo {
  padding-top: 15px;
}

.usertab-progressbar {
  margin-bottom: 10px;
}

.close-logo:hover {
  cursor: pointer;
}

.edit-logo:hover {
  cursor: pointer;
}

.delete-logo:hover {
  cursor: pointer;
}

.close-logo {
  position: absolute;
  left: 96%;
  margin-top: 0.6rem;
}

.edit-logo {
  margin-right: 10px;
}

/* .usertab-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
} */
