.main-container {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    padding: 0px 0px 0px 0px !important;
    margin: unset;
    height: 100vh;
}

.main-features-col {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    padding: 1em;
    gap: 1em;
}

.menu-col {
    border-right: 1px solid lightgrey;
}