/* .feature-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

.feature-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.feature-element > div {
  height: 100%;
  width: 100%;
}
