.overview-search {
  display:grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em;
}

.search {
  display: flex;
  width: 100%;
}

.searchTerm {
  width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  height: 2.5em;
}

.searchTerm:focus {
  color: lightsteelblue;
}

.searchButton {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid lightgrey;
  background: lightslategrey;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchButton > svg {
    margin: auto;
    height: 1.5em;
    width: 1.5em;
}

.check {
    margin: auto;
}
